<div>
  <!-- Show Alerts -->
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div ng-hide="invalid" class="ng-hide">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2>{{event.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><strong>Date: </strong> {{event.date | date:'mediumDate'}}</div>
            <div><strong>Time: </strong> {{event.time}}</div>
          </div>
          <div class="col-md-4">
            <address>
              <strong>Address:</strong><br />
              {{event.location.address}}<br />
              {{event.location.city}}, {{event.location.province}}
            </address>
          </div>
        </div>
      </div>
      <div class="text-right col-md-6 visible-lg visible-md">
        <img class="event-image" ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
      </div>
    </div>

    <hr />

    <h3>Sessions</h3>

    <div class="row">
      <div class="col-sm-10 col-sm-push-1 text-right form-group form-inline">
        <label class="control-label">Show:</label>
        <select ng-model="query.level" class="form-control input-sm">
          <option selected value="">All</option>
          <option>Introductory</option>
          <option>Intermediate</option>
          <option>Advanced</option>
        </select>
        <label class="control-label">Order By:</label>
        <select ng-model="sortorder" class="form-control input-sm">
          <option selected value="name">Name</option>
          <option value="-upVoteCount">Votes</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-push-1">

        <div class="row session" ng-repeat="session in event.sessions | orderBy:sortorder | filter:query">
          <div class="panel panel-info">
            <div class="panel-heading"><span>{{session.name}}</span></div>
            <div class="panel-body">
              <div class="col-sm-2 col-md-1 text-center">
                <div class="votingButton" ng-click="upVoteSession(session)">
                  <i class="fa fa-chevron-up"></i>
                </div>
                <span class="badge">{{session.upVoteCount}}</span>
                <div class="votingButton" ng-click="downVoteSession(session)">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
              <div class="col-sm-10 col-md-11">
                <p>
                  <span class="text-muted">{{session.creatorName}}</span><br />
                  <span><strong>Duration:</strong> {{session.duration | durations}}</span><br />
                  <span><strong>Level:</strong> {{session.level}}</span>
                </p>
                <p>{{session.abstract}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>